.body{
    background-color: #F2F2F2;
    font-family: 'Raleway', sans-serif;
}    
.header_container{
    display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.reservia{
    margin-left: 35px;
    height: 50px;
    cursor: pointer;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}
h2{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bolder;
}
h3{
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: bolder;
}
h4, .rightnav, .footerliste{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: small;
}
a{
    text-decoration: none;
    color: black;
}
p{
    font-family: 'Raleway', sans-serif;
    font-size: small;
    font-weight: bolder;
    margin-bottom: 80px;
}
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.rightTop{
    text-decoration: none;
    padding: 20px;
}
.rightTop:hover{
    cursor: pointer;
    color: rgb(70, 127, 192);
}
nav{
    list-style: none;
    font-family: 'Raleway', sans-serif;
    margin-right: 15px;
}
.haute{
    margin-left: 35px;
}
.search{
    width: 35%;
    display: flex;
    height: 45px;
    justify-content: space-between;
    flex-flow: row nowrap;
    border-top: 1px solid rgb(214, 211, 211);
    border-bottom: 1px solid rgb(214, 211, 211);
    border-radius: 10px 10px 10px 10px;
    padding: 0;
    margin-left: 2.5%;
}  
@media (max-width: 1200px){
    .search{
        width: 40%;
        display: flex;
        margin-left: 15%;
    }

}
@media all  and (max-width: 992px){
    .search{
    width: 60%;
    margin-left: 11%;
    display: flex;
    height: 45px;
    justify-content: space-between;
    
    }
    .infoIcone{
        width: 40%;
        margin-left: auto;
    }
    .send{
        width: 50%;
    }

}
@media (max-width: 576px){
    .search{
        width: 80%;
        display: flex;
        margin-left: 7%;
        margin-right: 5%;
    }

}
.placeholder{
    border: none;
    padding-left: 5%;
    margin-right: 20%;
    font-size: 17px;
}
.send{
    border: none;
    color: #F2F2F2;
    background-color: #0065FC;
    padding-top: 10px;
    padding-bottom: 6px;
    border-radius: 0 10px 10px 0;
    font-size: 15px;
    cursor: pointer;
}
.send:hover,
.send:focus{
    cursor: pointer;
    transform: scale(1.05);
}
.infoIcone{
    display: flex;
    padding-left: 5%;
    padding-top: 12px;
    padding-right: 5%;
    border-radius: 10px 0 0 10px;
    background-color:#F2F2F2;
    border: none;  
    width: 20px;
}
.infoIcone:hover,
.infoIcone:focus{
    cursor: pointer;
    transform: scale(1.05);
}
.iconinfo:hover,
.iconinfo:focus{
    cursor: pointer;
    transform: scale(1.05);
    background-color: whitesmoke;
}
#filter{
    width: auto;
    display: flex;
    align-items: center;
    font-weight: bold;
}
#filters{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
.textfilter{
    margin-top: 5px;
    font-family: 'Raleway', sans-serif;
 }
.titlefilter{
    padding-right: 30px;
    padding-left: 14px;
    margin-left: 20px;
    font-family: 'Raleway', sans-serif;
 }
.filters{
    display: flex;
}   
.innerFilters1{
    display: flex;
    margin: 20px 20px 20px 5px;
    border: 1px solid rgb(214, 211, 211);
    border-radius: 20px;
    width: 150px;
    height: 30px;
    padding-bottom: 3px;
}
.innerFilters1:hover,
.innerFilters1:focus{
    cursor: pointer;
    transform: scale(1.05);
}
.innerFilters2{
    display: flex;
    margin: 20px 20px 20px 5px;
    border:  1px solid rgb(214, 211, 211);
    border-radius: 20px;
    width: 110px;
    height: 30px;
    padding-bottom: 3px;  
}
.innerFilters2:hover,
.innerFilters2:focus{
    cursor: pointer;
    transform: scale(1.05);
}
.innerFilters3{
    display: flex;
    margin: 20px 20px 20px 5px;
    border:  1px solid rgb(214, 211, 211);
    border-radius: 20px;
    width: 140px;
    height: 30px;
    padding-bottom: 3px;
}
.innerFilters3:hover,
.innerFilters3:focus{
    cursor: pointer;
    transform: scale(1.05);
}
.innerFilters4{
    display: flex;
    margin: 20px 20px 20px 5px;
    border:  1px solid rgb(214, 211, 211);
    border-radius: 20px;
    width: 190px;
    height: 30px;
    padding-bottom: 3px;
}
.innerFilters4:hover,
.innerFilters4:focus{
    cursor: pointer;
    transform: scale(1.05);
}
.textfilter:hover{
    color: rgb(70, 127, 192);
    }
.fa-dog{
    background: #DEEBFF;
    border-radius: 45%;
    width: 35px;
    height: 30px;
    padding: 2px;
    margin-bottom: 5px;
    color:  #0065FC;
    font-size: 25px;
}
.fa-money-bill-wave{
    background: #DEEBFF;
}
.fa-money-bill-wave{
    background: #DEEBFF;
    border-radius: 45%;
    padding: 4px;
    color:  #0065FC;
    margin-right: 5px;
    font-size: 25px;
}
.fa-child{
    background: #DEEBFF;
    border-radius: 45%;
    padding: 4px;
    color:  #0065FC;
    margin-right: 5px;
    font-size: 27px;
}
.fa-heart{
    background: #DEEBFF;
    border-radius: 45%;
    padding: 4px;
    margin-top: 0px;
    color:  #0065FC;
    margin-right: 5px;
    font-size: 25px;
}
.icone:hover,
.icone:focus{
    transform: scale(1.1);
}
h2 {
    text-align: left;
    margin-left: 10px;
}
.prix{

    text-align: left;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 3px;
}
.star-rating{
    font-size: 10px;
    padding: 10px;
    text-align: left;
    margin-left: 0%;
    color: #0065FC;
}
.star1{
    color: gray;
    margin-left: 0px;
}
.infoIcon{
    display: flex;
    align-items: baseline;
}
.iconinfo{
    margin-right: 10px;
    margin-left: 30px;
    border: 1px solid #F2F2F2;
    background-color:white;
    border-radius: 50px;
    width: 2px;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.info{
    font-family: 'Raleway', sans-serif;
    font-size: small;
}
.fa-info{
    font-size: 10px;
    color: #0065FC;
}
img{
    border-radius: 10px;
}

.accomodations{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 16px;
}
.containergauche{
    border-radius: 20px;
    background:whitesmoke;
    padding-left: 20px;
    width: 65%;
}
.hebergementmarseille{ 
    display: flex;
    width: 100%;
    padding: 2px;
    text-align: center;
    flex-wrap: wrap;
    border-radius: 20px;
}
.snapshot{
    width: 30%;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    margin: 10px;  
}
.img1{
    width: 95%;
    height: 100px;
    margin-top: 2%;
    border-radius: 20px 20px 0px 0px;
}
.snapshot:hover,
.snapshot:focus{
    cursor: pointer;
    transform: scale(1.05);
}
#les-populaires-icon{
    float: right;
    margin-right: 5%;
}
.aside1:hover,
.aside1:focus{
    cursor: pointer;
    transform: scale(1.05);
}
.cannebiere{
    border-radius: 20px 20px 0px 0px;
    margin-top: 5px;
    margin-left: 0px;
    width: 95%;
    height: 100px;
}
.hotelduport{
    border-radius: 20px 20px 0px 0px;
    margin-top: 5px;
    margin-left: 0px;
    width: 95%;
    height: 100px;
}
.hotellesmouettes{
    border-radius: 20px 20px 0px 0px;
    width: 95%;
    margin-top: 5px;
    margin-left: 0px;
    height: 100px;
}
.hoteldelamer{
    border-radius: 20px 20px 0px 0px;
    width: 95%;
    margin-top: 5px;
    margin-left: 0px;
    height: 100px;
}
.aubergelepanier{
    border-radius: 20px 20px 0px 0px;
    width: 95%;
    margin-top: 5px;
    margin-left: 0px;
    height: 100px;
}
.hotelchezamina{
    border-radius: 20px 20px 0px 0px;
    width: 95%;
    margin-left: 0px;
    margin-top: 5px;
}
.description1{
    margin-left: 4px;
}
.aside{
    border-radius: 20px;
    background: whitesmoke;
    width: 30%;
}
.aside1{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 5px;
    border-radius: 20px;
    background: white;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    margin: 15px;
    height: 150px;
}
.img2{
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    height: 95%;
    object-fit: cover;
    width: 35%;
}

.aside-text{
    align-items: center;
}
.plus:hover{
    cursor: pointer;
    color: rgb(70, 127, 192);
}
.populaires-text{
    margin-left: 15px;
}
.soleiledumatin{
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.soleil{
    margin-bottom: 30px;
    align-items: center;
}
.topRight{
    margin-bottom: 30px;
    align-items: center;
    padding-left: 35%;
}
.aucoeurdeleau{
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.coeurdeleau{
    margin-bottom: 20px;
    margin-right: 10px;
}
.hoteltoutbleu{
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bleuetblanc{
    margin-bottom: 10px;
    margin-right: 40px;
}
.activites{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: white;
    border-radius: 20px; 
    margin: 20px;
}
.petitcolumn{
    flex-direction: column;
    width: 30%;
    margin-left: 40px;      
}
.bottomshot1{
    height: 300px;
    width: 25%;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-radius: 20px;
    margin: 20px;
    margin-right: 5px;
}
.bottomshot2{
    height: 300px;
    width: 25%;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-radius: 20px;
    margin: 20px;
    margin-right: 5px;
}
.bottomshot1:hover,
.bottomshot1:focus{
    cursor: pointer;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    transform: scale(1.05);
}
.bottomshot{
    height: 300px;
    width: 25%;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-radius: 20px;
    margin: 20px;
    margin-right: 5px;
}
.bottomshot2:hover,
.bottomshot2:focus{
    cursor: pointer;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    transform: scale(1.05);
}
.petitcol1a{
    flex-direction: column;
    height: 45%;
    width: 80%;
    margin: 20px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-radius: 20px;
}
.petitcol1a:hover,
.petitcol1a:focus{
    cursor: pointer;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    transform: scale(1.05);
}
.petitcol1b{
    flex-direction: column;
    height: 35%;
    width: 80%;
    margin: 20px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-radius: 20px;
}
.petitcol1b:hover,
.petitcol1b:focus{
    cursor: pointer;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    transform: scale(1.05);
}
.petitcol2{
    flex-direction: column;
    height: 40%;
    width: 80%;
    margin: 20px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-radius: 20px;
}
.petitcol2:hover,
.petitcol2:focus{
    cursor: pointer;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    transform: scale(1.05);
}
.vieuxport{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 260px; 
}
.fortdepomegues{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 115px;
}
.frioul{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 85px;
}
.parcnational{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 260px;
}

.notredame{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 100px;
}
.parclongchamp{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 100px;
}
.lieu{
    margin-left: 16px;
    font-weight: bolder;
}
.description2{
    margin-left: 35px;
    margin-top: 30px;
}
.topRight{
    text-align: left;
 }
.footer{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-content: space-around; 
}
.footliste{
	width: 100%;
	height: 40vh;
	margin: 0; 
    padding: 0;
    margin-left: 0;
    margin-right: 30%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}	
.footer-heading{
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-right: 15%;
    margin-top: 30px;
    margin-left: 3%;
}
.footer-a{
    margin-bottom: 16px;
}
.footer-a:hover{
    cursor: pointer;
    color: rgb(70, 127, 192);;
}
.footer-text{
    margin-left: 0%;
}

/*-------- RESPONSIVE -------*/
@media (max-width: 1200px){
    .containergauche{
        flex-direction: row;
    }
    h3{
        font-size: 10px;
    }
    .hebergementmarseille{
        width: auto;
        flex-direction: row;
        flex: 2;
    }
    .snapshot{
        width: 30%;
    }
    
    
}
@media (max-width: 992px){
    .accomodations{
        flex-direction: column;
    }
    .aside{
        width: 100%;
    }
    .containergauche{
        flex-direction: row;
        flex: 3;
        order: 2;
        width: 100%;
        margin-top: 40px;
    }
    .lieu{
        margin-bottom: 50px;
    }
    h3{
        font-size: 10px;
    }
    .footer-heading{
        width: 100%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .footerliste{
        margin-right: 3%;
        margin-left: 3%;
    }
}
@media (max-width: 576px){
    .footer {
        flex-direction: column;
    }
    h1{
        font-size: 17px;
    }
    h3{
        font-size: 14px;
    }
    .snapshot{
        width: 40%;
    }
    .aside1{
        flex-direction: row;
    }
    .activites{
        flex-direction: column;
    }
    .petitcol1a, .petitcol1b, .petitcol2{
        height: 200px;
        width: 100%;
    }
    .bottomshot1{
        height: 200px;
        width: 100%;
    }
    .vieuxport{
        height: 150px;
    }
    .bottomshot2{
        height: 200px;
        width: 100%;
    }
    .parcnational{
        height: 150px;
    }
    .fortdepomegues, .frioul, .notredame, .parclongchamp{
        height: 150px;
    }
    .petitcolumn {
        width: 100%;
        margin-left: 0;
    }
    .search{
        width: 80%;
        margin-left: 7%;
        margin-right: 5%;
    }
    .placeholder {
        margin-right: 0;
        width: 170px;
    }
    .haute, .reservia, .iconinfo {
        margin-left: 0;
    }
    .footer-text{
        margin-right: 0;
    }
    .footer-heading{
        margin-left: 10%;
    }
    .containergauche, .aside {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
    .rightnav{
        padding: 0;
    }
    .snapshot{
        width: 100%;
    }
    .plus{
        margin-left: 5%;
    }
}